* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0px auto;
  width: 420px;
}

nav {
  background-color: #000000;
  margin: 0px auto;
  padding: 10px 0 15px 15px;
  width: 420px;
}

.location {
  background-color: lightgrey;
  display: block;
  border-bottom: 1px solid #000000;
}

.location:hover {
  background-color: grey;
}

h1 {
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-size: 13px;
  line-height: 1.5em;
}

.content {
  width: 80%;
  padding: 5%;
  display: inline-block;
}

.arrow {
  width: 10%;
  padding: 5%;
  float: right;
}
